.outer-circle {
    width: 5rem;
    height: 5rem;
    background-color: #32333D;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
}

.inner-circle {
    border-radius: inherit;
    background-image: conic-gradient(#32333D, rgba(89, 74, 226, 0.3), rgb(89, 74, 226));
    position: absolute;
    z-index: -1;
    margin: auto;
    top: -0.8rem;
    bottom: -0.8rem;
    left: -0.8rem;
    right: -0.8rem;
    animation: circle-anim 0.6s linear infinite;
}

@keyframes circle-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.mud-list-item-icon {
    min-width: 34px !important;
}

.mud-input-control.mud-input-control-margin-dense {
    margin: 4px 0 !important;
}

svg.apexcharts-svg {
    background: transparent !important;
}
