@using Syki.Front.Features.Cross.ViewNotifications

@namespace Syki.Front.Features.Cross.GetUserNotifications

<div>
    @if (_alert)
    {
        <MudIconButton OnClick="@ViewAndOpenDialog" Color="Color.Error" Icon="@Icons.Material.Filled.NotificationsActive" Style="color: #FFF" />
    }
    else
    {
        <MudIconButton Icon="@Icons.Material.Filled.NotificationsNone" OnClick="@OpenDialog" Color="Color.Inherit" />
    }
</div>

@inject IDialogService DialogService
@inject IBrowserViewportService BrowserViewportService
@inject ViewNotificationsClient ViewNotificationsClient
@inject GetUserNotificationsClient GetUserNotificationsClient

@code
{
    private bool _alert = false;
    private List<UserNotificationOut> _notifications = [];

    protected override async Task OnInitializedAsync()
    {
        await GetNotifications();
        _alert = _notifications.Any(x => x.ViewedAt == null);
    }

    private async Task GetNotifications()
    {
        _notifications = await GetUserNotificationsClient.Get();
    }

    private async Task ViewAndOpenDialog()
    {
        _alert = false;
        await OpenDialog();
        await ViewNotificationsClient.View();
        await GetNotifications();
        StateHasChanged();
    }

    private async Task OpenDialog()
    {
        var breakpoint = await BrowserViewportService.GetCurrentBreakpointAsync();
        var options = new DialogOptions {
            MaxWidth = MaxWidth.Medium,
            FullWidth = true,
            FullScreen = breakpoint == Breakpoint.Xs,
        };
        var dialog = await DialogService.ShowAsync<ViewNotificationsDialog>("", options);

        var result = await dialog.Result;

        if (result!.Canceled) return;
        
        await GetNotifications();
    }
}
