<div class="alert alert-secondary mt-4">
    <span class="oi oi-pencil me-2" aria-hidden="true"></span>
    <strong>@Title</strong>
    <h1>@Desc</h1>
</div>

@code {
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? Desc { get; set; }
}
