@using Front.Pages

@inherits BunitTestContext

@code
{
    [Test, Ignore("")]
    public async Task Should_renders_campi_table()
    {
        // Arrange
        AddMudServices();

        var mock = Services.AddMockHttpClient();
        var response = new List<CampusOut>()
        {
            new CampusOut { Name = "Agreste I", City = "Caruaru - PE" },
            new CampusOut { Name = "Suassuna I", City = "Recife - PE" },
        };
        mock.When(HttpMethod.Get, "/campi").RespondJson(response);

        // Act
        var cut = Render(@<Campi />);
        await Task.Delay(100);

        var table = cut.Find("tbody");

        // Assert
        table.MarkupMatches(
            @<tbody diff:ignoreAttributes>
                <tr diff:ignoreAttributes>
                    <td data-label="Nome" class:ignore style:ignore>Agreste I</td>
                    <td data-label="Cidade" class:ignore style:ignore>Caruaru - PE</td>
                    <td diff:ignoreAttributes>
                        <button diff:ignore></button>
                    </td>
                </tr>
                <tr diff:ignoreAttributes>
                    <td data-label="Nome" class:ignore style:ignore>Suassuna I</td>
                    <td data-label="Cidade" class:ignore style:ignore>Recife - PE</td>
                    <td diff:ignoreAttributes>
                        <button diff:ignore></button>
                    </td>
                </tr>
            </tbody>
        );
    }
}
