@inherits BunitTestContext

@code
{
    [Test]
    public async Task Should_renders_correctly()
    {
        // Arrange
        AddMudServices();
        var dialogService = Services.GetService<IDialogService>()!;

        const string grade = "Grade de ADS - 1.0";

        var disciplinas = new List<DisciplinaOut>
        {
            new DisciplinaOut { Nome = "Matemática Discreta", Periodo = 1, Creditos = 6, CargaHoraria = 60, },
            new DisciplinaOut { Nome = "Introdução à Redes de Computadores", Periodo = 5, Creditos = 4, CargaHoraria = 50, },
            new DisciplinaOut { Nome = "Pensamento Computacional e Algoritmos", Periodo = 3, Creditos = 7, CargaHoraria = 25, },
            new DisciplinaOut { Nome = "Design de Interação Humano-Máquina", Periodo = 2, Creditos = 6, CargaHoraria = 90, },
            new DisciplinaOut { Nome = "Projeto Integrador I: Concepção e Prototipação", Periodo = 4, Creditos = 6, CargaHoraria = 60, },
        };

        var parameters = new DialogParameters<DisciplinasDaGradeDialog>();
        parameters.Add(x => x.Disciplinas, disciplinas);

        var dialog = await dialogService.ShowAsync<DisciplinasDaGradeDialog>(grade, parameters);

        // Act
        var cut = Render(dialog.RenderFragment);

        // Assert
        cut.Find("h6").MarkupMatches(
            @<h6 diff:ignoreAttributes>
                <svg diff:ignore></svg>
                @grade
            </h6>
        );
    }
}
