@inherits BunitTestContext

@code
{
    [Test]
    public void Should_validate_qr_code_markup()
    {
        // Arrange
        Services.AddScoped<IMfaService, MfaServiceMock>();

        var authContext = TestContext!.AddTestAuthorization();
        authContext.SetClaims(new Claim("email", "zaqueu@gmail.com"));

        var bytes = GuidExtensions.GenerateQrCodeBytes("LRZSGTSW5SEQFCWCNXHRNM5PZC7LFVBH", "zaqueu@gmail.com");
        var src = string.Format("data:image/png;base64,{0}", Convert.ToBase64String(bytes));

        // Act
        var cut = Render(@<MfaQrCode />);

        // Assert
        cut.MarkupMatches(
            @<div diff:ignoreAttributes>
                <div diff:ignoreAttributes>
                    <div diff:ignoreAttributes>
                        <div diff:ignoreAttributes>
                            <div diff:ignoreAttributes>
                                <div diff:ignore></div>
                                <div diff:ignoreAttributes>
                                    <div diff:ignoreAttributes>
                                        <p class:ignore>Utilize um app de autenticação para ler o QR-Code</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img
                            width="300"
                            height="300"
                            class:ignore
                            src=@src
                        >
                    </div>
                </div>
            </div>
        );
    }
}
