# Rider
.idea

# User
*.user

# Build
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Coverage
/Tests/Reports
/Tests/TestResults

# Visual Studio
.vs/

# Crash log files
crash.log
crash.*.log

Exato.sln.DotSettings
