@page "/professores/aulas"
@attribute [Authorize(Roles = "Professor")]

<PageTitle>Aulas</PageTitle>

<MudContainer Class="mt-8 px-8" MaxWidth="MaxWidth.False">
    <h1>Aulas lalala</h1>
</MudContainer>
