@page "/campi"

<PageTitle>Campi</PageTitle>

<h1>Campi</h1>

<MudContainer MaxWidth="MaxWidth.Small">
    <MudCard>
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo="Typo.h6">Recife</MudText>
            </CardHeaderContent>
        </MudCardHeader>
    </MudCard>
    <MudCard>
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo="Typo.h6">Caruaru</MudText>
            </CardHeaderContent>
        </MudCardHeader>
    </MudCard>
    <MudCard>
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo="Typo.h6">Garanhuns</MudText>
            </CardHeaderContent>
        </MudCardHeader>
    </MudCard>
</MudContainer>
