@page "/faculdades"
@attribute [Authorize(Roles = "Adm")]

<PageTitle>Faculdades</PageTitle>

<MudContainer Class="mt-8 px-8" MaxWidth="MaxWidth.False">
    <h1>Faculdades lalala</h1>
</MudContainer>
