@page "/"

<PageTitle>Syki</PageTitle>

<AuthorizeView Roles="Adm">
    <MudContainer Class="mt-8 px-8">
        <IndexAdm />
    </MudContainer>
</AuthorizeView>

<AuthorizeView Roles="Academico">
    <IndexAcademico />
</AuthorizeView>

<AuthorizeView Roles="Aluno">
    <MudContainer Class="mt-8 px-8">
        <h1>ALUNO INDEX VIEW</h1>
    </MudContainer>
</AuthorizeView>
