name: Build ➡️ Test ➡️ Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-test:
    name: Build ➡️ Test
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_DB: postgres
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - uses: actions/checkout@v4

      - name: Setup
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.200

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Tests
        run: dotnet test --configuration Release --no-restore --no-build --verbosity normal

      - name: Publish
        run: dotnet publish Back --configuration Release --no-restore --no-build --property:PublishDir='./publish'

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: syki-api
          path: './Back/publish'

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: [build-and-test]

    steps:
      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: syki-api
          path: './Back/publish'
      
      - name: Deploy
        uses: azure/webapps-deploy@v2
        with:
          app-name: syki-api
          publish-profile: ${{ secrets.AZURE_SYKI_API_WEBAPP_PUBLISH_PROFILE }}
          package: './Back/publish'
