name: Railway

on:
  push:
    branches:
      - master

jobs:
  build-test-migrate:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_DB: postgres
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - uses: actions/checkout@v4

      - name: Setup
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.200

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Tests
        run: dotnet test --configuration Release --no-restore --no-build --verbosity normal

      - name: Create Migrations Bundle
        run: |
          dotnet tool install --global dotnet-ef
          dotnet ef migrations bundle --project Back/Back.csproj --output efbundle

      - name: Run Migrations
        run: ./efbundle
