name: Tests

on:
  push:
    branches:
      - master

jobs:
  tests:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_DB: postgres
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - uses: actions/checkout@v4
      - name: Setup
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.401
      - name: Restore
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore
      - name: Tests
        run: dotnet test --no-build --filter "FullyQualifiedName~UnitTests" --collect:"XPlat Code Coverage" --logger trx --results-directory coveragereport
      - name: ReportGenerator
        uses: danielpalme/ReportGenerator-GitHub-Action@5.3.11
        with:
          reports: cobertura.xml
          targetdir: coveragereport
          title: 'Test Coverage Report'
